body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

h2 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Styles généraux pour le bouton */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-alt {
    color: #007BFF;
    background-color: #fff;
    border: 1px solid #007BFF;
}

.button-alt:hover {
    background-color: #f4f4f4;
}
